#mgnl-ai-editor {
	width: 850px;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 1.75rem;
}

.ce-toolbar__actions {
	opacity: 1 !important;
}
.ce-toolbar {
	display: block !important;
}

.ce-inline-toolbar {
	background-color: rgb(37 37 37);
}

.ce-inline-toolbar__toggler-and-button-wrapper {
	padding: 0;
}

.ce-inline-tool {
	padding: 6px;
	width: 30px;
	height: 30px;
}

.ce-inline-tool:hover {
	background-color: rgba(89, 153, 0);
	border-radius: 6px;
}

.ce-inline-tool svg {
	fill: white;
}

.ce-toolbar__settings-btn svg path,
.ce-toolbar__plus svg path {
	color: white;
}

@media (max-width: 650px) {
	.ce-toolbar__plus {
		background-color: unset !important;
	}
	.ce-toolbar__settings-btn {
		background-color: unset !important;
	}
}

.ce-toolbar__settings-btn:hover,
.ce-toolbar__plus:hover {
	background-color: rgba(89, 153, 0);
}

.ce-toolbar__actions {
	background-color: rgb(37 37 37);
	padding: 0;
	margin: 0 4px;
	border-radius: 6px;
}

.ce-popover {
	background-color: rgb(37 37 37);
	--color-background-item-hover: rgba(89, 153, 0);
}

.ce-popover-item__title {
	color: white;
}

.cdx-search-field {
	background-color: white;
}

.hidden {
	display: none;
}
.codex-editor__redactor {
	padding-bottom: 10px !important;
}
.ce-block__content,
.ce-toolbar__content {
	max-width: 85%;
}

@keyframes pulse {
	0%,
	100% {
		background-color: #fff;
	}
	50% {
		background-color: #e1f2ff;
	}
}

.ai-editor-triggered .ce-block__content {
	animation: pulse 1.5s infinite ease-in-out;
}

.ce-paragraph {
	line-height: 1.6em;
	outline: none;
}

.ce-paragraph[data-placeholder]:empty::before {
	content: attr(data-placeholder);
	color: #707684;
	font-weight: normal;
	opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty
	.ce-block:first-child
	.ce-paragraph[data-placeholder]:empty::before {
	opacity: 1;
}

.codex-editor--toolbox-opened
	.ce-block:first-child
	.ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty
	.ce-block:first-child
	.ce-paragraph[data-placeholder]:empty:focus::before {
	opacity: 0;
}

.ce-paragraph p:first-of-type {
	margin-top: 0;
}

.ce-paragraph p:last-of-type {
	margin-bottom: 0;
}

.ce-paragraph[contentEditable='true'][data-placeholder]::before {
	position: absolute;
	content: attr(data-placeholder);
	color: #707684;
	font-weight: normal;
	display: none;
	cursor: text;
}

.ce-paragraph[contentEditable='true'][data-placeholder]:empty::before {
	display: block;
}

.ce-paragraph[contentEditable='true'][data-placeholder]:empty:focus::before {
	display: none;
}
